@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse.woff2') format('woff2'),
    url('../fonts/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
    url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: Roboto, sans-serif, "Open Sans";
}

body {
    display: flex;
    height: 100vh;
    background-color: #f9fafb;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.content p {
    margin-bottom: 25px;
    width: 800px;
}

.sidebar {
    flex-shrink: 0;
    position: relative;
    height: 100vh;
    width: 40vw;
}

.background {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.black-bar {
    position: absolute;
    top: 20%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 150px;
    width: auto;
}

.logo-name {
    font-family: 'Norse', sans-serif; 
    font-weight: bold;
    color: white;
    font-size: 7rem;
    margin: 0;
}

.credit {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

.white-box {
    background-color: white;
    box-shadow: 0 5px 5px grey; 
    padding: 20px 50px 50px 50px;
}

.rest {
    width:100%;
    margin-top: 30px;
}

label {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    color: dimgray;
    letter-spacing: 0.1rem;
}

.input-fields {
    font-size: 1.2rem;
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 100px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    outline: none;
}

.create-account {
    margin: 50px 50px 30px 50px;
    color: white;
    font-size: 1rem;
    background-color: #596D48;
    border: 1px solid #596D48;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 5px 5px grey;
}

a {
    color: #596D48;
    font-weight: bold;
}

.registered {
    font-weight: normal;
    font-size: 1.2rem;
    padding-left: 50px;
}

input:invalid {
    border: 1px solid red;
}

.intro {
    padding-left: 50px;
}

input:focus {
    border: 1px solid blue;
}
